<a
  href="/"
  class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
>
  <span class="fs-5 d-none d-sm-inline ms-4 me-2">
    <img src="../../../assets/images/logo-mandiri.png" alt="">
  </span>
</a>
<ul
  class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start mt-5"
  id="menu"
>
  <li>
    <a
      href="#submenu1"
      data-bs-toggle="collapse"
      class="nav-link px-0 align-middle"
    >
    <i class="bi bi-house"></i>
      <span class="ms-2 d-none d-sm-inline font-custom">Dashboard</span>
    </a>
    <ul
      class="collapse nav flex-column ms-1"
      id="submenu1"
      data-bs-parent="#menu"
    >
      <li class="w-100">
        <a routerLink="/home" class="nav-link px-0 font-custom">
          <span class="d-none d-sm-inline">Dashboard</span> 
        </a>
      </li>
      <li>
        <a href="#" class="nav-link px-0 font-custom">
          <span class="d-none d-sm-inline">Item</span> 
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a
      href="#submenu2"
      data-bs-toggle="collapse"
      class="nav-link px-0 align-middle"
    >
    <i class="bi bi-list-ul"></i>
      <span class="ms-2 d-none d-sm-inline font-custom">Forms</span>
    </a>
    <ul
      class="collapse nav flex-column ms-1"
      id="submenu2"
      data-bs-parent="#menu"
    >
      <li class="w-100">
        <a routerLink="/home/forms-hotel-services" class="nav-link px-0 font-custom">
          <span class="d-none d-sm-inline">Form Hotel Service</span> 1
        </a>
      </li>
      <li>
        <a href="#" class="nav-link px-0 font-custom">
          <span class="d-none d-sm-inline">Item</span> 2
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a
      href="#submenu3"
      data-bs-toggle="collapse"
      class="nav-link px-0 align-middle"
    >
      <i class="bi bi-table"></i>
      <span class="ms-2 d-none d-sm-inline font-custom">Tables</span>
    </a>
    <ul
      class="collapse nav flex-column ms-1"
      id="submenu3"
      data-bs-parent="#menu"
    >
      <li class="w-100">
        <a routerLink="/home/tables-hotel-services" class="nav-link px-0 font-custom">
          <span class="d-none d-sm-inline">Table Hotel Service</span> 1
        </a>
      </li>
      <li>
        <a href="#" class="nav-link px-0 font-custom">
          <span class="d-none d-sm-inline">Item</span> 2
        </a>
      </li>
    </ul>
  </li>
</ul> 

