<div class="card card-custom">
  <div class="card-header card-custom-header">Form Hotel Service</div>
  <div class="card-body">
    <form [formGroup]="bookingGroup" (ngSubmit)="onSubmitReservation()">
      <!-- Text input -->
      <div class="form-outline mb-4" [formGroupName]="'reservee'">
        <label class="form-label" for="form6Example3">Nama Tamu</label>
        <input
          type="text"
          id="form6Example3"
          class="form-control"
          [ngClass]="{ 'is-invalid': isFormValid('reservee.name') }"
          formControlName="name"
        />
        <app-validation-message
          [control]="bookingGroup.get('reservee.name')"
          [field]="'Nama'"
        ></app-validation-message>
      </div>

      <!-- Text input -->
      <div class="form-outline mb-4" [formGroupName]="'reservee'">
        <label class="form-label" for="form6Example3">Email Tamu</label>
        <input
          type="email"
          id="form6Example3"
          class="form-control"
          [ngClass]="{ 'is-invalid': isFormValid('reservee.email') }"
          formControlName="email"
        />
        <app-validation-message
          [control]="bookingGroup.get('reservee.email')"
          [field]="'Email'"
        ></app-validation-message>
      </div>

      <!-- Text input -->
      <div class="form-outline mb-4" [formGroupName]="'reservee'">
        <label class="form-label" for="form6Example4">No Handphone Tamu</label>
        <input
          type="text"
          (keypress)="keyPress($event)"
          id="form6Example4"
          class="form-control"
          [ngClass]="{ 'is-invalid': isFormValid('reservee.phone') }"
          formControlName="phone"
        />
        <app-validation-message
          [control]="bookingGroup.get('reservee.phone')"
          [field]="'No Handphone'"
        ></app-validation-message>
      </div>

      <!-- Nomor Kamar input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form6Example5">Nomor Kamar</label>
        <input
          type="text"
          (keypress)="keyPress($event)"
          id="form6Example5"
          class="form-control"
          [ngClass]="{ 'is-invalid': isFormValid('roomNumber') }"
          formControlName="roomNumber"
        />
        <app-validation-message
          [control]="bookingGroup.get('roomNumber')"
          [field]="'Nomor Kamar'"
        ></app-validation-message>
      </div>

      <!-- Lama Menginap input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form6Example6">Lama Menginap</label>
        <input
          type="text"
          (keypress)="keyPress($event)"
          id="form6Example6"
          class="form-control"
          [ngClass]="{ 'is-invalid': isFormValid('duration') }"
          formControlName="duration"
        />
        <app-validation-message
          [control]="bookingGroup.get('duration')"
          [field]="'Lama Menginap'"
        ></app-validation-message>
      </div>

      <!-- Jumlah Tamu input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form6Example6">Jumlah Tamu</label>
        <input
          type="text"
          (keypress)="keyPress($event)"
          id="form6Example6"
          class="form-control"
          [ngClass]="{ 'is-invalid': isFormValid('guestCount') }"
          formControlName="guestCount"
        />
        <app-validation-message
          [control]="bookingGroup.get('guestCount')"
          [field]="'Jumlah Tamu'"
        ></app-validation-message>
      </div>

      <!-- Submit button -->
      <button class="btn btn-primary btn-block mb-4">
        Place order
      </button>
    </form>
  </div>
</div>
