<div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-custom">
        <div
          class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 "
        >
          <app-sidebar></app-sidebar>
        </div>
      </div>
      <div class="col px-0 py-0 bg-custom-main">
        <app-header></app-header>
        <div class="p-5">
          <app-main></app-main>
        </div>
      </div>
    </div>
  </div>

  

